name: Build & Deploy

on:
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  # Remplace par ton nom d'utilisateur GitHub (tout en minuscules)
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive # CRUCIAL : Récupère le code proto
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,format=long

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-to-vps:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }} # Clé privée SSH
          script: |
            # Se placer dans le dossier ops
            cd /opt/jobmate
            
            # Login au registre pour pouvoir pull l'image privée
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            # Pull de la nouvelle image spécifique au repo courant
            docker compose -f docker-compose.prod.yml pull ${{ github.event.repository.name }}
            
            # Redémarrage du service (Zero Downtime Deployment si possible)
            docker compose -f docker-compose.prod.yml up -d ${{ github.event.repository.name }}
            
            # Nettoyage
            docker image prune -f